@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

* { /* My try */
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body {
  height: 100vh;
  margin: 0;
  overflow: hidden;
  font-family: Roboto, sans-serif;
  /* My try */
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}

img {
  width: 600px;
}

button {
  font-family: Roboto, sans-serif;
  border: none;
  border-radius: 8px;
  background: #eee;
  color: black;/* My try */
}

input {
  border: 1px solid #ddd;
  border-radius: 16px;
  padding: 8px 24px;
  width: 400px;
}

ul {/* My try */
  list-style-type: none;
  display: flex;
  flex-direction: row;
}

ul a {/* My try */
  text-decoration: none;
  color: #6D6D6D;
}

.header, .footer {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}